

<nav class="navbar navbar-expand-lg navbar-light bg-light " dir="rtl" >
    <a class="navbar-brand" href="#">مدیریت تراکنش ها</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">صفحه اصلی <span class="sr-only">(فعال)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> تراکنش ها</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> افزایش موجودی</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> ورود </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">>صفحه اصلی </a>
              <a class="dropdown-item" href="#">افزایش موجودی</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">ورود </a>
            </div>
          </li>

      </ul>
    
    </div>
  </nav>
