<div class="m-0 row vw-100 col-12 p-3 bg-success text-white text-center rounded-bottom-4">
    <h1>نرم افزار مدیریت دلنوشته ها</h1>
</div>
<form>
<div class="row mt-5 text-center align-center">
    <!-- <input type="text" class="col-8 rounded-3 " placeholder="lorem"> -->
    <div class="row d-flex justify-content-center">
                
                <p class="col-11 p-5 text-white bg-primary rounded-2" > Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Pariatur accusantium facilis delectus fuga in, 
                    consequatur fugiat fugit suscipit, distinctio saepe, 
                    accusamus nesciunt. Eligendi delectus,
                    officiis laboriosam dignissimos dolorem vero aut?</p>    
                    
                </div>
                
            </div>
            <button type="submit" class="justify-content-sm-center btn btn-success rounded-5 ">submit</button>
    </form>
    