<!-- <p>Welcome To Our telegram Bot Dashboard </p>
<div class=col-3>
 
    <button (click)="Sendmsg()">Send Massage</button>
    <button (click)="SendPhoto()">Send Photo</button>

</div> -->
<div class="m-3 p-1">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row align-items-center">
      <div class="form-group">
        <label for="inputlg">متن پیام</label>
        <input
          class="form-control input-lg"
          formControlName="massage"
          id="inputlg"
          type="متن دلخواه"
        />
        <label for="inputlg">آدرس کامل عکس</label>
      <input
      class="form-control input-lg"
      formControlName="picurl"
      id="inputurl"
      type="آدرس کامل عکس دلخواه را جهت ارسال  وارد کنید "
       />
        <label for="inputlg">عنوان  عکس</label>
      <input
      class="form-control input-lg"
      formControlName="picname"
      id="inputurl"
      type="آدرس کامل عکس دلخواه را جهت ارسال  وارد کنید "
       />
       </div>
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInputGroup"> تعداد گزینه ها در هر سطر</label>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <!-- <div class="input-group-text">add</div>
          </div> -->
          <input
            type="number"
            class="form-control"
            id="inlineFormInputGroup"
            placeholder="گزینه"
          />
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
 <div formArrayName="btn">
         <ng-container *ngFor="let item of btn.controls;let i=index;let first=first" [formGroupName]="i">
          <div>
          <input type="text" formControlName="text" class="form-control col-3" [placeholder]="'یک متن برای گزینه '+[i+1]+' ربات وارد کنید'"> 
          <span *ngIf="!first" (click)="removeBox(i)" class="input-group-text" id="basic-addon1"><i>-</i></span>
          <span *ngIf="first" (click)="addBox()" class="input-group-text" id="basic-addon1"><i></i>+</span>
        </div>
      </ng-container>
    </div>
  </div>
  </form>
</div>
